
<ion-content fullscreen>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="ramdomRoomCreate()">
      <ion-icon name="flask"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-list>
    <ion-list-header>
      <!-- Recent Conversations -->
      <br>
    </ion-list-header>

    <ion-item
      *ngFor="let room of rooms; index as roomindex"
    >
      <ion-avatar slot="start">
        <img src="assets/logo_cordova.png">
      </ion-avatar>
      <ion-label>
        <h2>{{ room.name }}</h2>
        <h3>{{ room.updated | date }}</h3>
      </ion-label>
      <ion-fab-button
        (click)="joinRoom(room.id)"
        color="primary"
        size="small"
        slot="end"
      >
        <ion-icon name="paper-plane"></ion-icon>
      </ion-fab-button>
      <ion-fab-button
        (click)="deleteRoom(room.id, roomindex)"
        color="danger"
        size="small"
        slot="end"
      >
        <ion-icon name="trash"></ion-icon>
      </ion-fab-button>
    </ion-item>
  </ion-list>
</ion-content>